#react-container h1{
	color: green;
}

.disconnected:after {
	position: absolute;
	content: '';
	height: 30px;
	width: 30px;
	top: 30px;
	border-radius: 100%;
	background-color: red;
	float: right;
}

.connected:after {
	position: absolute;
	content: '';
	height: 30px;
	width: 30px;
	top: 30px;
	border-radius: 100%;
	background-color: green;
	float: right;
}

#questions div span {
	display: block;
	border: 2px solid green;
	cursor: hand;
}

#questions div span:hover {
	background-color: yellow;
}